body {
  margin: 0;
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo,sans-serif;
}
