.SignInStatusBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(89, 89, 89);
    color: white;
    padding: 14px;
}

.SignInStatusBar.SignIn {
    display: flex;
}

.SignInStatusBar.SignIn button {
    margin-left: auto;
}
